name: Build APK

on:
  push:
    branches:
      - build_test
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: ["all", "arm", "arm64", "x86", "x86_64"]
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          add-job-summary: "on-failure"

      - name: Build Debug APK for ${{ matrix.arch }}
        run: |
          chmod +x gradlew
          ./gradlew ZalithLauncher:assembleDebug -Darch=${{ matrix.arch }}

      - name: Upload Debug APK for ${{ matrix.arch }}
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: debug apk (${{ matrix.arch }})
          path: ZalithLauncher/build/outputs/apk/debug/*.apk
